.header {
  background-color: #ffffff;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  background-color: #ffffff;
}

.logo {
  width: 6.25rem;
  height: auto;
}

.esconder {
  display: none;
}



@media screen and (min-width: 1440px) {
  .logo {
    width: 11rem;
    height: auto;
  }




}